@import "./variables";

@mixin respond($breakpoint) {
    @if ($breakpoint == phone) {
        @media only screen and (max-width: $breakpoint-sm) {
            @content;
        }
    }

    @if ($breakpoint == tablet) {
        @media only screen and (max-width: $breakpoint-md) {
            @content;
        }
    }
}

/*
 DESKTOP : 1440 * 1024
 TABLET: 768 * 1024
 MOBILE: 375 * 812
*/
