:root {
  --white: #fff;
  --blue: #2463ff;
  --dark-navy: #261676;

  --menu-gradient: linear-gradient(to bottom, #344aba, rgba(0, 20, 121, 0.83));
  --btn-gradient: linear-gradient(to bottom, #fe71fe, #7199ff);
  --heading-gradient: linear-gradient(to bottom, #67b6ff, #ffffff);
  --bg-gradient: linear-gradient(to bottom, #1a043a, #151278 70%, #2b1677);
}

$font : "Mouse Memoirs", sans-serif;
