.flex {
  display: flex;

  &--column {
    flex-direction: column;
  }

  &--center {
    align-items: center;
  }
}

.grid {
  display: grid;
}

.section {
  &--mask {
    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: var(--bg-gradient);
        opacity: .75;
        z-index: -1;
    }
  }
}
